.TitreSerie{
    font-family : "Guardians", sans-serif ;
    font-size : 45px !important;
    margin-bottom : 5px !important;
    padding-top : 11px !important;
    padding-bottom : 5px !important;
    text-align : left;
    margin-left : 30px;
    vertical-align:middle;
    text-align:left;
}
.txtDetailSerie{
    color : #007493;
}
.txtDetailSerieBlack{
    color: black;
    text-align : justify !important;
}
.txt2{
    text-align: center;
    font-size : 16px;
}
.IndexFirstTxt{
    text-align: center;
    font-size : 30px;
    color: white;
}
.IndexFirstTxtRadio{
    text-align: center;
    font-size : 20px;
    color: white;
    margin-left: 5px;
}
.IndexFirstNomSite{
    font-family : "Coalition_v2", sans-serif ;
    text-align: center;
    font-size : 30px;
    color : #57d1d1;
}
.SearchInput{
    height: 40px !important;
    margin: 20px 0px !important;
}
.RecommandationInput{
    text-align:center;
    font-family : "Guardians", sans-serif ;
}
.formLike{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.formSearch{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.formMedia{
    float: right;
    margin-right: 100px;
    margin-bottom : 0px !important;
}


/* POLICE */
@font-face { font-family: "Coalition_v2"; src: url('./fonts/Coalition_v2.ttf') format('truetype'); }
@font-face { font-family: "Guardians"; src: url('./fonts/Guardians.ttf') format('truetype'); }

/* GENERAL */
body{
    min-width: 1000px;
    max-width: 100%;
    height: auto;
    margin : 4.5% auto 1% auto;
}
html {
    height: 100%
}
.NomPartie{
    font-family : "Coalition_v2", sans-serif ;
    text-align: center;
    font-size : 55px !important;
    color: #3B88C9 !important;
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
}
.TopMC{
    font-family : "Coalition_v2", sans-serif ;
    text-align: center;
    font-size : 17px !important;
    color : black;
}
.MCRecherche{
    font-family : "Coalition_v2", sans-serif ;
    text-align: center;
    font-size : 25px !important;
    color : black;    
    font-weight:lighter;
    letter-spacing:2px;
}
.NomPartie2{
    font-family : "Coalition_v2", sans-serif ;
    text-align: center;
    font-size : 35px !important;
    color : black;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

/* INDEX */
.NomSite{
    font-family : "Coalition_v2", sans-serif ;
    text-align: center;
    font-size : 65px;
    color: #3B88C9 !important;
    margin-top: 75px;
    margin-bottom: 45px;
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
}
.IndexSlogan{
    width: 45%;
    text-align: center;
    font-size: 25px;
    color: #3B88C9 !important;
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
}
.IndexCarou{
    font-family : "Guardians", sans-serif ;
    font-size : 27px !important;
    text-align : center;
    color : #3B88C9 !important;
    background-color: rgba(220, 220, 220, 0.70);
    padding: 5px;
    width : 100%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
}

/* MENU */
.navTitre{
    font-family : "Coalition_v2", sans-serif ; 
    color : #57d1d1;
}
.ItemMenuBas{
   font-size: 14px;
   margin-left: 22px;
   margin-right: 22px;
}
.navbar-nav2 > li > a {
    padding-top:5px !important; 
    padding-bottom:0px !important;
    height: 12px;
}
.navbar {min-height:27px !important;}


/* SERIES */
.SerieContainerIner{
   margin: 0px auto 20px auto;
   display: inline-flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width : 100%;
   padding: 0% 2%; 
}
.SerieSearchMessAlert{
    text-align : center;
    margin-top : 15px;
    width: 50%;
    margin-left : auto;
    margin-right : auto;
}
.SerieCasePButtonR:hover, .SerieCaseGButtonR:hover, .SerieListButtonR:hover {
    color: blue; 
}
.SerieCasePButtonB:hover, .SerieCaseGButtonB:hover, .SerieListButtonB:hover {
    color: red; 
}

/* CASE G*/
.SerieCaseGTitre{
    font-family : "Guardians", sans-serif ;
    font-size : 15px;
    font-weight:lighter;
    letter-spacing:0.1px;
    width: 90%;
    color: #3B88C9 !important;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
.SerieCaseGContainerSerie{
   height:300px;
   width: 450px;
   background-color: rgba(255,255,255,0.65);
   margin:10px;
   padding:5px;
}
.SerieCaseG2ContainerSerie{
   height:255px;
   width:245px;
   background-color: rgba(255,255,255,0.65);
   padding:5px;
   margin: 15px;
}
.SerieCaseGDate{ 
    font-family : "Arial", sans-serif ;
    font-size : 12px;
    color : black;
}
.SerieCaseGContainerSerie{
    width:350px;
    height:315px;
}
.SerieCaseGImg{
    width: 100% !important;
    height: 210px !important;
}
.SerieCaseG2Img{
    width: 100% !important;
    height: 150px !important;
}
.SerieCaseGButtonR {
    font-size: 20px; 
    color: red; 
    padding: 0px 2px;
    float : right;
    clear: both;
}
.SerieCaseGButtonB {
    font-size: 20px; 
    color: blue; 
    padding: 0px 2px;
    float : right;
    clear: both;
}
.SerieCaseGButtonN {
    font-size: 20px; 
    color: black; 
    padding: 0px 2px;
    float : right;
    clear: both;
}

/* CASE P*/
.SerieCasePTitre{
    font-family : "Guardians", sans-serif;
    font-size : 10px;
    font-weight:lighter;
    letter-spacing:0.1px;
    width: 90%;
    color: #3B88C9 !important;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
.SerieCasePContainerSerie{
    background-color: rgba(220, 220, 220, 0.65);
    width: auto;
    height: auto;
    padding: 3px;
    margin: 7px;
}
.SerieCasePDate{
    font-family : "Arial", sans-serif ;
    font-size : 10px;
    color : black;
}
.SerieCasePImg{
    width:120px !important;
    height:75px !important;  
}
.SerieCasePTxt{
    width:160px;
    height:75px;   
}
.SerieCaseP2Img{
    width:90px !important;
    height:70px !important;   
}
.SerieCaseP2Txt{
    width:145px;
    height:70px;   
}
.SerieCasePButtonR {
    font-size: 15px; 
    color: red; 
    padding: 0px 2px;
    float : right;
    clear: both;
}
.SerieCasePButtonB {
    font-size: 15px; 
    color: blue; 
    padding: 0px 2px;
    float : right;
    clear: both;
}
.SerieCasePButtonN {
    font-size: 15px; 
    color: black; 
    padding: 0px 2px;
    float : right;
    clear: both;
}


/* LIST */
.SerieListTitre{
    font-family : "Guardians", sans-serif ;
    font-size : 20px;
    font-weight:lighter;
    letter-spacing:0.1px;
    text-align: left;
    color: #3B88C9 !important;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
.SerieListContainerSerie{
    background-color: rgba(220, 220, 220, 0.65);
    width: auto;
    height: auto;
    padding: 5px;
    margin: 5px 5px 20px 5px;
}
.SerieListDate{
    font-family : "Arial", sans-serif ;
    font-size : 16px;
    color : black;
}
.SerieListSynopsis{
    font-family : "Arial", sans-serif ;
    font-size : 17px;
    color : black;
}
.SerieListContainer{
    background-color: rgba(220, 220, 220, 0.65);
    padding: 10px;
    width : 90%;
    margin-left: auto;
    margin-right: auto;
}
.SerieListButtonR {
    font-size: 22px; 
    margin: -5px 20px 0px 20px;
    color: red;
    padding: 0px 2px;
}
.SerieListButtonB {
    font-size: 22px;
    margin: -5px 20px 0px 20px;
    color: blue; 
    padding: 0px 2px;
}
.SerieListButtonN {
    font-size: 22px;
    margin: -5px 20px 0px 20px;
    color: black; 
    padding: 0px 2px;
}
.SerieListImg{
    width: 325px;
    height: 200px;   
}

/* DETAIL */
.SerieDetailContainer{
    background-color: rgba(97, 189, 227, 0.80);
    width : 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.SerieDetailContainer2{
    background-color: rgba(220, 220, 220, 0.80);
    padding: 10px;
    width : 90%;
    margin-left: auto;
    margin-right: auto;
}


/* BOUTTONS */ 
.button2 {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}
.SerieDetailButtonR {
    font-size: 38px; 
    margin-left:15px;
    color: red;
}
.SerieDetailButtonB {
    font-size: 38px; 
    margin-left:15px;
    color: blue;
}
.buttonDetailSerieR2 {
    font-size: 20px;
    color: red;
}
.buttonDetailSerieB2 {
    font-size: 20px; 
    color: blue;
}
.buttonDetailSerieR2:hover{
    color: red;
}
.buttonDetailSerieB2:hover{
    color: blue;
}
.buttonDetailSerieN2{
    font-size: 20px; 
    color: black !important;    
}
.buttonDetailSerieW2{
    font-size: 20px; 
    color: white !important;    
}

.cguArticle{
    font-size: 25px;
    font-weight: bold;
}