/* POLICE */
@font-face { font-family: "Coalition_v2"; src: url('./fonts/Coalition_v2.ttf') format('truetype'); }
@font-face { font-family: "Guardians"; src: url('./fonts/Guardians.ttf') format('truetype'); }


/* GENERAL */
body{
    min-width: 1200px;
    max-width: 100%;
    height: max-content;
    margin : 4.5% auto 1% auto;
    font-size:20px;
    background-size: 100% 100% !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}
html {
    height: 100%
}
.NomPartie{
    font-family : "Coalition_v2", sans-serif ;
    text-align: center;
    font-size : 55px !important;
    color: #3B88C9 !important;
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
}
.MCRecherche{
    font-family : "Coalition_v2", sans-serif ;
    text-align: center;
    font-size : 25px !important;
    color : black;    
    font-weight:lighter;
    letter-spacing:2px;
}
.NomPartie2{
    font-family : "Coalition_v2", sans-serif ;
    text-align: center;
    font-size : 25px !important;
    color: #3B88C9 !important;
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
}


/* INDEX FIRST */
.IndexFirstNomSite{
    font-family : "Coalition_v2", sans-serif ;
    text-align: center;
    font-size : 30px;
    color : #57d1d1;
}
.IndexFirst_Modal{
    height:100% !important;
    margin:3%;
    width:92% !important
}
.IndexFirst_img{
   float:left; margin-left:30px;
}
.IndexFirst_Footer{
   height: 10%!important;
   padding:1%;
}
.IndexFirst_Txt{
    text-align: center;
    font-size : 30px;
    color: white;
}
.IndexFirst_TxtRadio{
    text-align: center;
    font-size : 20px;
    color: white;
    margin-left: 5px;
}


/* INDEX */
.NomSite{
    font-family : "Coalition_v2", sans-serif ;
    text-align: center;
    font-size : 60px;
    color: #3B88C9 !important;
    margin-top: 75px;
    margin-bottom: 45px;
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
}
.IndexSlogan{
    width: 45%;
    text-align: center;
    font-size: 25px;
    color: #3B88C9 !important;
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
}
.IndexCarou{
    font-family : "Guardians", sans-serif ;
    font-size : 27px !important;
    text-align : center;
    color : #3B88C9 !important;
    background-color: rgba(220, 220, 220, 0.70);
    padding: 5px;
    width : 100%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
}


/* MENU */
.navTitre{
    font-family : "Coalition_v2", sans-serif ; 
    color : #57d1d1;
}
.menu_search{
    width:320px !important; 
    height: 35px;
}
.menu_btn_search{
    height: 35px;
}
.menu_tags_titre{
    font-family : "Coalition_v2", sans-serif ;
    text-align: center;
    font-size : 20px !important;
    color : black;
    line-height:1;
    padding: 10px 0px;
}
.menu_tags_motsCles{
    width: 550px !important; 
    border-width: 2px; 
    line-height:1.1; 
    text-align: justify; 
    white-space: normal !important; 
    border-color: black;
    padding: 15px;
}
.ItemMenuBas{
   color:whitesmoke;
   position: relative;
   display: block;
   padding-top: 5px !important;
   font-size: 14px;
   margin-left: 22px;
   margin-right: 22px;
}
.navbar-nav2 > li > a {
    padding-top:5px !important; 
    padding-bottom:0px !important;
    height: 12px;
}
.navbar {min-height:27px !important;}


/* Tri */
.formLike{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.SearchInput{
    height: 40px !important;
    margin: 20px 0px !important;
}
.formSearch{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.formMedia{
    float: right;
    margin-right: 100px;
    margin-bottom : 0px !important;
}
.tri_group1{
    float: left;
    margin-left: 100px;
    margin-bottom: 0px !important;
}
.tri_group2{
    float: left;
    margin-left: 25px;
    margin-bottom: 0px !important;
}
.RecommandationInput{
    text-align:center;
    font-family : "Guardians", sans-serif ;
}


/* SERIES */
.SerieContainerIner{
   margin: 0px auto 20px auto;
   display: inline-flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width : 100%;
   padding: 0% 2%; 
}
.SerieSearchMessAlert{
    text-align : center;
    margin-top : 15px;
    width: 50%;
    margin-left : auto;
    margin-right : auto;
}

/* CASE G*/
.SerieCaseGTitre{
    font-family : "Guardians", sans-serif ;
    font-size : 15px;
    font-weight:lighter;
    letter-spacing:0.1px;
    width: 90%;
    color: #3B88C9 !important;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
.SerieCaseGContainerSerie{
   height:300px;
   width: 450px;
   background-color: rgba(255,255,255,0.65);
   margin:10px;
   padding:5px;
}
.SerieCaseG2ContainerSerie{
   height:255px;
   width:245px;
   background-color: rgba(255,255,255,0.65);
   padding:5px;
   margin: 15px;
}
.SerieCaseGDate{ 
    font-family : "Arial", sans-serif ;
    font-size : 12px;
    color : black;
}
.SerieCaseGContainerSerie{
    width:350px;
    height:315px;
}
.SerieCaseGImg{
    width: 100% !important;
    height: 210px !important;
}
.SerieCaseG2Img{
    width: 100% !important;
    height: 150px !important;
}
.SerieCaseGButtonR {
    font-size: 20px; 
    color: red; 
    padding: 0px 2px;
    float : right;
    clear: both;
}
.SerieCaseGButtonB {
    font-size: 20px; 
    color: blue; 
    padding: 0px 2px;
    float : right;
    clear: both;
}
.SerieCaseGButtonN {
    font-size: 20px; 
    color: black; 
    padding: 0px 2px;
    float : right;
    clear: both;
}
.SerieCaseGButtonClassification {
    width: 28px;
    height: 24px;
    float : right;
    clear: both;
}


/* CASE P*/
.SerieCasePTitre{
    font-family : "Guardians", sans-serif;
    font-size : 10px;
    font-weight:lighter;
    letter-spacing:0.1px;
    width: 90%;
    color: #3B88C9 !important;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
.SerieCasePContainerSerie{
    background-color: rgba(220, 220, 220, 0.65);
    width: auto;
    height: auto;
    padding: 3px;
    margin: 7px;
}
.SerieCasePDate{
    font-family : "Arial", sans-serif ;
    font-size : 10px;
    color : black;
}
.SerieCasePImg{
    width:120px !important;
    height:75px !important;  
}
.SerieCasePTxt{
    width:160px;
    height:75px;   
}
.SerieCaseP2Img{
    width:80px !important;
    height:70px !important;   
}
.SerieCaseP2Txt{
    width:165px;
    height:70px;   
}
.SerieCasePButtonR {
    font-size: 15px; 
    color: red; 
    padding: 0px 2px;
    float : right;
    clear: both;
}
.SerieCasePButtonB {
    font-size: 15px; 
    color: blue; 
    padding: 0px 2px;
    float : right;
    clear: both;
}
.SerieCasePButtonN {
    font-size: 15px; 
    color: black; 
    padding: 0px 2px;
    float : right;
    clear: both;
}
.SerieCasePButtonClassification{
    width: 28px;
    height: 24px;
    float : right;
    clear: both;
}


/* LIST */
.SerieListTitre{
    font-family : "Guardians", sans-serif ;
    font-size : 27px;
    font-weight:lighter;
    letter-spacing:0.1px;
    text-align: left;
    color: #3B88C9 !important;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
.SerieListContainerSerie{
    background-color: rgba(220, 220, 220, 0.65);
    width: auto;
    height: auto;
    padding: 5px;
    margin: 5px 5px 20px 5px;
}
.SerieListDate{
    font-family : "Arial", sans-serif ;
    font-size : 16px;
    color : black;
}
.SerieListContainer{
    background-color: rgba(220, 220, 220, 0.65);
    padding: 10px;
    width : 90%;
    margin-left: auto;
    margin-right: auto;
}
.SerieListButtonR {
    font-size: 22px; 
    margin: 0px 20px;
    color: red;
    padding: 0px 2px;
}
.SerieListButtonB {
    font-size: 22px;
    margin: 0px 20px;
    color: blue; 
    padding: 0px 2px;
}
.SerieListButtonN {
    font-size: 22px;
    margin: 0px 20px;
    color: black; 
    padding: 0px 2px;
}
.SerieListButtonClassification {
    width: 32px;
    height: 24px;
    margin: 0px 20px 0px 20px;
}
.SerieListImg{
    width: 550px;
    height: 335px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}


/* DETAIL */
.TitreSerie{
    font-family : "Guardians", sans-serif ;
    font-size : 45px !important;
    margin-bottom : 5px !important;
    padding-top : 11px !important;
    padding-bottom : 5px !important;
    text-align : left;
    margin-left : 30px;
    vertical-align:middle;
    float:left;
}
.Serie_Detail_txt{
    color : #007493;
}
.SerieDetailContainer{
    background-color: rgba(125, 135, 125, 0.70) !important;
    width : 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.SerieDetailContainer2{
    background-color: rgba(220, 220, 220, 0.70);
    padding: 10px;
    width : 90%;
    margin-left: auto;
    margin-right: auto;
}
.SerieDetailButtonR {
    font-size: 45px; 
    margin-left:15px;
    color: red;
    float : left;
    margin-top: 8px;
}
.SerieDetailButtonB {
    font-size: 50px; 
    margin-left:15px;
    color: blue;
    float : left;
    margin-top: 8px;
}
.SerieDetailButtonN {
    font-size: 50px; 
    margin-left:15px;
    color: black;
    float : left;
    margin-top: 8px;
}
.SerieDetailButtonClassification {
    width: 50px;
    height: 45px;
    float : left;
    margin-left:15px;
    margin-top: 20px;
}


/* BOUTTONS */
.SerieCasePButtonR:hover, .SerieCaseGButtonR:hover, .SerieListButtonR:hover, .SerieDetailButtonR:hover, 
.SerieCasePButtonB:hover, .SerieCaseGButtonB:hover, .SerieListButtonB:hover, .SerieDetailButtonB:hover {
    color: black; 
}
.SerieCasePButtonN:hover, .SerieCaseGButtonN:hover, .SerieListButtonN:hover , .SerieDetailButtonN:hover {
    color: darkorchid; 
}
.button2 {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}
.buttonTriR {
    font-size: 20px;
    color: red;
}
.buttonTriR:hover{
    color : red;
}
.buttonTriB {
    font-size: 20px; 
    color: blue;
}
.buttonTriN{
    font-size: 20px; 
    color: black !important;    
}
.buttonTriW{
    font-size: 20px; 
    color: white !important;    
}

/* CGU */
.cgu_entete{
    text-align: center;
    font-size: 30px;
}
.cgu_article{
    font-size: 25px;
    font-weight: bold;
    text-decoration : underline;
}
.artId{
    position: relative;
    top: -55px;
    margin-top: 40px;
}

/* QUESTIONNAIRE */ 
.question_entete{
    text-align: center;
    font-size: 30px;
}
.question{
    text-align:center;
    font-size: 20px;
}
.btnQuestion{
    margin:10px !important;
}
.cc-selector-2 input{
    position:absolute;
    z-index:999;
}
.BoOk{background-image:url(css/oui.jpg);}
.BoNo{background-image:url(css/non.jpg);}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
    border: solid 4px #204D74;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:70px;
    height:70px;
    -webkit-filter: brightness(1.2) grayscale(.2) opacity(.65);
       -moz-filter: brightness(1.2) grayscale(.2) opacity(.65);
            filter: brightness(1.2) grayscale(.2) opacity(.65);
}
.drinkcard-cc:hover{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

/* Plan du Site */
.planSite_conener_img{
    text-align: center;
}
.planSite_img{
    margin-left:auto;
    margin-right:auto;
    width:850px;
    height:500px;
}

/* Admin */
.panel_texte{
    font-size: 13px;
    line-height:2;
}